/* .display{
    background-color: #FF0509;
    height: 60%;
    width: 100%;
} */
.display{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    border-radius: 14px;
    padding-bottom: 20px;
    width: 320px;
    
   }
tr{
    width: 280px;
    float: left;
}
input[type="button"]{
    width: 60px;
    height: 60px;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    text-align: center;
    cursor: pointer;
}
.button{
    padding: 20px 20px 0 20px;
}
.button:hover{
    background-color: #5e5858be;
    color: #ecedef;
}
input[type="text"]{
    border-radius: 10px;
    background-color: #FF0509;
    color: white;
    border-color: white;
    padding: 40px 0px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    width: 200px;
    height: 80px;
    float: left;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    text-align: right;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    margin: 5px 5px;
}